name: Tailscale
version: "1.80.0"
slug: tailscale-ha
description: "A zero config VPN"
url: "https://github.com/iangelov/home-assistant-addons/tree/main/tailscale"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: services
boot: auto
host_network: true
privileged:
  - NET_ADMIN
devices:
  - "/dev/net/tun"
init: false
options:
  hostname: homeassistant
  advertised_routes: []
  tags: []
  proxy_serve_ha: false
schema:
  auth_key: str
  advertised_routes:
    - str
  advertise_exit_node: bool?
  advertise_connector: bool?
  tags:
    - str
  port: int(0,65535)?
  hostname: str?
  force_reauth: bool?
  proxy_serve_ha: bool?
